 /* Note: Try to remove the following lines to see the effect of CSS positioning */
 


h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
}

h4 {
  font-size: 50px;
  line-height: 1.375em;
  color:black;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 50px;
  text-align: center;
}

.slideanim {visibility:hidden;}
.slide {
    
    animation-name: slide;
    -webkit-animation-name: slide; 
   
    animation-duration: 2.8s; 
    -webkit-animation-duration: 2.8s;
   
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}



.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

.logo-small {
    color: #f4511e;
    font-size: 50px;
}

.logo {
    color: #f4511e;
    font-size: 200px;
}

    .col-sm-8{
        text-align: center;
        margin: 50px 0;
    }
    
    .col-sm-4{
        text-align: center;
        margin: 50px 0;
    }

   

    .bg-grey {
        background-color: #f6f6f6;
    }

    
    .modal-header, .close {
       
        color:white !important;
        text-align: center;
        font-size: 30px;
    }
    .modal-footer {
        background-color: #f9f9f9;
    }